* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-wrapper {
    width: 310px;
    height: 310px;
    border: 5px solid red;
    margin: 10px;
    position: relative;
}
.box {
    width: 100px;
    height: 100px;
    background: blue;
    position: absolute;
    top: 0;
    left: 0;
}
button {
    background: #000000;
    color: #ffffff;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 5px;
}
.btn-block {
    background: #cccccc;
    padding: 10px;
    margin: 10px;
}